/* #navbar {
    padding: 20px;
} */

.fa-sun {
    font-size: 30px;
    margin-right: 10px;
}

.container {
    height: 50%;
    position: relative;
    border: 3px solid blue;
    top: 20%;
  }
.section {
    height: 600px;
    width: 100%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }


#introSection {
    margin-top: 100px;
}