#navbar {
    padding: 20px;
}

.fa-sun {
    font-size: 30px;
}

.container {
    height: 80%;
    position: relative;
    border: 3px solid blue;
    top: 40%;
  }
.section {
    height: 1000px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }


#introSection {
    margin-top: 0px;
}

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: #F1F3F3;
    /*background-color: floralwhite;*/
}

.title {
    font: 20px Arial, sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
}

.subtitle {
    font: 20px Arial, sans-serif;
    text-align: center;
}

.legend {
    font: 13px Arial, sans-serif;
}

.message {
    font: 14px Arial, sans-serif;
}

.clock {
    font: 10px Arial, sans-serif;
}

.cell1 {
    stroke-width: 0.1;
    stroke: #f2f2f2;
}


.cell2 {
    stroke-width: 0.5;
    stroke: #f2f2f2;
}

.cell3 {
    stroke-width: 0.5;
    stroke: #e6e6e6;
}

.arc:hover{
    fill: #ffd700;
    opacity: 0.2;
}


.outline {
    stroke-width: 0.2;
    stroke: #808080;
}

.axis path {
    display: none;
}


.axis {
    font: 12px Arial, sans-serif;
}

.interactivity {
    stroke-width: 0.3;
    stroke: #808080;
}

.interactivity2 {
    stroke-width: 0.1;
    stroke: #b3b3b3;
}


#total_nv {
    text-align: center;
}

.side{
    width: 50px;
}


  
.line {
fill: none;
stroke: #809686;
stroke-width: 3px;
}

.tooltip {
    line-height: 2;
    padding: 5px;
    background: gray;
    color: #fff;
    width: 20%;
    border-radius: 2px;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

#climateCategorySelector {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
